<style>

* {
 margin: 0;
 padding: 0;
 display: block;
}


html {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0;
}

body {
    width: 100%;
}


#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
#wrapper { display:none; }
#warning-message { display:block; }

 }

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
 
 
.wrapper {
    
    }

.flex-container {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.howto {
    width: 25%;
    position: relative;
      
}

.block {
    display: flex;
    background-color: black;
    width: 25%;
    position: relative;
    display: inline-block;
    height: calc(25vw * 3/4);
    bottom: 0px;
    
}


.playblock {
    display: flex;
    background-color: black;
    width: 25%;
    position: relative;
    display: inline-block;
    height: calc(25vw * 3/4);
    bottom: 0px;
}

.playblock:hover{
    background:rgba(0,0,0,0.9);
}

.title {
    color: white;
    text-align: left;
    bottom: 0px;
    position: absolute;
    font-size: 7.5vh;
    word-break: break-all;
    
}

.top {
    top: 0px;
}

.video-break {
    position: flex;
    width: 100%;
    
}

.introvid {
    position: relative;
    width: 60%;
    left: 30%;
      
}

.playtitle {
    font-size: 26px;
    position: absolute;
    text-align: left;
    z-index: 1;
    bottom: 0px;
    width: 90%;
}

.tile {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}





.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}


a:link {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

a:visited {
    background-color: rgba(0,0,0,1);
    color: #353535;
}

a:hover {
    background-color: rgba(0,0,0,1);
    color: white;
}


.contact {
        position: relative;
        color: white;
        width: 90%;
        left: 10%;
}

</style>
